{
  "extends": "airbnb-base",
  "env": { "jest": true },
  "rules": {
    "no-underscore-dangle": "off",
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "max-classes-per-file": "off"
  }
}
